<div class="content-container">
  <h1>Orders</h1>
</div>

  <% @orders.each do |order| %>
    <div class="content-container mt-4">
      <p><strong>Order ID:</strong> #<%= order.id %></p>
      <p><strong>Status:</strong> <%= order.state %></p>
      <p><strong>Created At:</strong> <%= order.created_at.in_time_zone("Brasilia").strftime("%H:%M %d/%m/%Y") %></p>
      <p><strong>Price:</strong> <%= order.total_price%></p>
    </div>
<% end %>