<div class="content-container">
  <p style="color: red"><%= alert %></p>
  <h1>Products</h1>
  <% if current_user.admin? || current_user.eql?(@store.user)%>
    <p><%= link_to "New Product", new_store_product_path(@store) %></p>
  <% end %>
</div>
  

  <div>
    <% if @products.any? %>
      <% (@products).each do |product| %>
        <div class="content-container mt-4">
          <%= render partial: "products/product", locals: { product: product } %>
          
          <p><%= link_to "Show this product", store_product_path(@store, product) %></p>
        </div>
      <% end %>
    <% else %>
      <p>Empty</p>
    <% end %>
  </div>