<h1>Products Listing</h1>

<div>
    <% @products.each do |product| %>
        <div>
            <%= render partial: "products/product", locals: { product: product, show_store_link: true } %>
            
            <% if current_user.admin? || current_user == product.store.user %>
                <p><%= link_to "Show this product", store_product_path(product.store, product) %></p>
            <% end %>
        </div>
        <hr />
    <% end %>
</div>
